.menu__nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu__nav-link {
  @include font(40px, 1.17, 500);
  letter-spacing: 0.02em;

  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color);
    @extend %transition;
  }
  &.current {
    color: var(--accent-color);
  }
}

.menu__contacts-list {
  margin-top: 0;
  margin-bottom: 64px;
}
.menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__contacts-link {
  @include font(24px, 1.17, 500);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  &.current {
    color: var(--accent-color);
  }
}

.mob-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-menu__social-item:not(:last-child) {
  margin-right: 10px;
}
.mob-menu__social-link {
  @include font(18px, 1.22, 500);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &::after {
    content: "";
    width: 22px;
    height: 0;
    border-right: 2px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}
