.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  min-height: 581px;
  width: 100%;
  background: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &-text {
    margin-top: 0;
    margin-bottom: 12px;
    @include font(20px, 23px, 700);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  @media screen and (min-width: 768px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    @extend %transition;
  }
}

.modal .form-modal {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  &:focus {
    border: 1px solid var(--accent-color);
    @extend %transition;
    + .form-icon {
      fill: var(--accent-color);
      @extend %transition;
    }
  }
}

.form-modal-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.input-wrapper {
  display: block;
  position: relative;
}

.form-modal-comment {
  margin-bottom: 20px;
}

.form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  &:focus {
    border: 1px solid var(--accent-color);
    @extend %transition;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 38%;
  transform: translateY(-38%);
}

.check-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  position: relative;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  margin-left: 14px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox {
  &:checked {
    + .check-text > .check-item {
      background-color: var(--accent-color);
      border-color: transparent;
    }
  }
}
.form-btn {
  display: block;
  margin: 0 auto;
}

.contract {
  margin-left: 9px;
  color: var(--accent-color);
  display: inline-block;
  text-decoration: underline;
}
