.social {
  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__list-item {
    display: flex;
    margin-bottom: 24px;
  }
}

.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--primery-social-color);
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    @extend %transition;
  }
  &:hover .icon,
  &:focus .icon {
    fill: var(--primary-white-color);
    @extend %transition;
  }
}
